.container {
  width: 1174px;
  margin: 0 auto; }

.container-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header {
  background-color: #8700d2;
  padding: 0 0; }

.navigation {
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 36px;
  color: #fff; }

.logo {
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .logo__title {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase; }
  .logo__img {
    display: block;
    height: 28px;
    width: 37px; }

.setting {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-family: "Lato", sans-serif; }
