.container
    max-width: 1174px
    margin: 0 auto
    padding: 0 4%
    &-wrap
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        flex-wrap: wrap
    &-coll
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: center
        position: relative
        flex-wrap: wrap
    &-footer
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: center
    &-body
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-direction: column
        min-height: 100vh