.header
    background-color: $companyColor
    padding: 2% 0
    
.navigation
    background-color: transparent
    margin: 0
    padding: 0
    width: 30%
    &__title
        display: block
        font-family: $fontLatos
        font-size: 36px
        color: #fff
    &__back
        display: block
        font-family: $fontLatos
        font-size: 14px
        color: #d68dff
        text-transform: uppercase
        &:hover
            text-decoration: none
            color: #d68dff
    
.logo
    background-color: transparent
    margin: 0
    padding: 0
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex    
    justify-content: center
    align-items: center
    width: 40%
    &__title-header
        font-size: 20px
        color: #fff
        text-transform: uppercase
        margin-right: 2%
    &__img
        display: block
        height: 28px
        width: 37px

.setting
    width: 30%
    text-align: right
    font-family: $fontLatos
    text-align: right
    font-size: 14px
    font-weight: bold
    text-transform: uppercase
    color: #d68dff
    font-family: $fontLatos
    & a
        text-decoration: none
        color: #d68dff
        &:hover
            text-decoration: none
            color: #d68dff
        & svg
            margin-bottom: -1%