.entry,
.campaigns,
.project,
.newprojects,
.newtopics,
.newtopics2,
.approvecontent,
.approvecontent2
    padding: 3em 0 0

.main
    &__tittle
        display: block
        margin: 0
        padding: 0
        font-family: $fontLatos
        font-size: 2.34vw
        font-weight: 400
        margin: 0 0 1.5em
        text-transform: uppercase
    &__descr
        margin: 0
        padding: 0
        font-family: $fontLatos
        font-size: 1.17vw
        font-weight: bold
        color: #a7a7a7
        margin-bottom: 3.22em
        
body
    font-family: $fontLatos
    font-size: 1.04vw