header.header.container-header
    .container.container-wrap
        .navigation
            span.navigation__title account settings
            a.navigation__back(href="#")
                span= backNav || 'back'
        .logo
            h1.logo__title-header content brain
            img.logo__img(src="img/logo.png" alt="Logo")
        .setting
            a(href="#") account settings
