---
title: Account Settings - ContentBrain
bodyClass: container-body
backNav: core topic
---
extends shared/_layout
block content

  main.container.newtopics3
      .container-coll
          h2.newtopics3__tittle.main__tittle my-first-project
          span.newtopics3__descr.main__descr A core topic for my first project
          ul.set__navigation.container-wrap
              li.set__navigation-item
                a(href="coretopic2.html") Metrics
              li.set__navigation-item
                a.active.pseudo.pseudo-dot(href="#") Content Types
              li.set__navigation-item
                a(href="approvecontent.html") Titles
              li.set__navigation-item
                a(href="approvecontent2.html") Research
          .container-wrap.subtopics
              .subtopic.container-coll
                  h3.subtopic__tittle Subtopics
                  span.subtopic__descr Subtopic #1
                  span.subtopic__descr Subtopic #2
                  span.subtopic__descr Subtopic #3
                  span.subtopic__descr Subtopic #4
                  span.subtopic__descr Subtopic #5
              .contenttype.container-coll
                  h2.contenttype__tittle what type of content are you creating? select that apply
                  .container-wrap
                      .contenttype-coll.container-coll
                          input(type="checkbox" id="contenttype__checkbox-lists").contenttype__checkbox
                          label(for="contenttype__checkbox-lists").contenttype__checkbox-custom Lists

                          input(type="checkbox" id="contenttype__checkbox-how").contenttype__checkbox
                          label(for="contenttype__checkbox-how").contenttype__checkbox-custom How-To

                          input(type="checkbox" id="contenttype__checkbox-faq").contenttype__checkbox
                          label(for="contenttype__checkbox-faq").contenttype__checkbox-custom Questions & Answers (Q&A)

                          input(type="checkbox" id="contenttype__checkbox-case").contenttype__checkbox
                          label(for="contenttype__checkbox-case").contenttype__checkbox-custom Case Studies

                          input(type="checkbox" id="contenttype__checkbox-testimonials").contenttype__checkbox
                          label(for="contenttype__checkbox-testimonials").contenttype__checkbox-custom Testimonials

                          input(type="checkbox" id="contenttype__checkbox-interviews").contenttype__checkbox
                          label(for="contenttype__checkbox-interviews").contenttype__checkbox-custom Interviews

                          input(type="checkbox" id="contenttype__checkbox-demos").contenttype__checkbox
                          label(for="contenttype__checkbox-demos").contenttype__checkbox-custom Demos

                          input(type="checkbox" id="contenttype__checkbox-product").contenttype__checkbox
                          label(for="contenttype__checkbox-product").contenttype__checkbox-custom Product Review
                      .contenttype-coll.container-coll
                          input(type="checkbox" id="contenttype__checkbox-lists").contenttype__checkbox
                          label(for="contenttype__checkbox-lists").contenttype__checkbox-custom Lists

                          input(type="checkbox" id="contenttype__checkbox-how").contenttype__checkbox
                          label(for="contenttype__checkbox-how").contenttype__checkbox-custom How-To

                          input(type="checkbox" id="contenttype__checkbox-faq").contenttype__checkbox
                          label(for="contenttype__checkbox-faq").contenttype__checkbox-custom Questions & Answers (Q&A)

                          input(type="checkbox" id="contenttype__checkbox-case").contenttype__checkbox
                          label(for="contenttype__checkbox-case").contenttype__checkbox-custom Case Studies

                          input(type="checkbox" id="contenttype__checkbox-testimonials").contenttype__checkbox
                          label(for="contenttype__checkbox-testimonials").contenttype__checkbox-custom Testimonials

                          input(type="checkbox" id="contenttype__checkbox-interviews").contenttype__checkbox
                          label(for="contenttype__checkbox-interviews").contenttype__checkbox-custom Interviews

                          input(type="checkbox" id="contenttype__checkbox-demos").contenttype__checkbox
                          label(for="contenttype__checkbox-demos").contenttype__checkbox-custom Demos

                          input(type="checkbox" id="contenttype__checkbox-product").contenttype__checkbox
                          label(for="contenttype__checkbox-product").contenttype__checkbox-custom Product Review
                      .contenttype-coll.container-coll
                          input(type="checkbox" id="contenttype__checkbox-lists").contenttype__checkbox
                          label(for="contenttype__checkbox-lists").contenttype__checkbox-custom Lists

                          input(type="checkbox" id="contenttype__checkbox-how").contenttype__checkbox
                          label(for="contenttype__checkbox-how").contenttype__checkbox-custom How-To

                          input(type="checkbox" id="contenttype__checkbox-faq").contenttype__checkbox
                          label(for="contenttype__checkbox-faq").contenttype__checkbox-custom Questions & Answers (Q&A)

                          input(type="checkbox" id="contenttype__checkbox-case").contenttype__checkbox
                          label(for="contenttype__checkbox-case").contenttype__checkbox-custom Case Studies

                          input(type="checkbox" id="contenttype__checkbox-testimonials").contenttype__checkbox
                          label(for="contenttype__checkbox-testimonials").contenttype__checkbox-custom Testimonials

                          input(type="checkbox" id="contenttype__checkbox-interviews").contenttype__checkbox
                          label(for="contenttype__checkbox-interviews").contenttype__checkbox-custom Interviews

                          input(type="checkbox" id="contenttype__checkbox-demos").contenttype__checkbox
                          label(for="contenttype__checkbox-demos").contenttype__checkbox-custom Demos

                          input(type="checkbox" id="contenttype__checkbox-product").contenttype__checkbox
                          label(for="contenttype__checkbox-product").contenttype__checkbox-custom Product Review
          .container-wrap.newtopics3__navigation.newtopics3__row.subtopics__navigation
              .newtopics3__navigation.subtopics__descr.container-coll
                  span.subtopics__descr-estimated Estimated Traffic: 200 - 1400
                  span.subtopics__descr-relevance Relevance: 4.3
                  span.subtopics__descr-competiveness Competiveness: 79
              a(href="approvecontent.html").newtopics3__navigation-item
                span.newtopics3__navigation-next next
