---
title: Account Settings - ContentBrain
bodyClass: container-body
backNav: home
---
extends shared/_layout
block content

  main.container.entry
      .container-coll
        h2.main__tittle welcome
        form.login.container-coll(action="#" name="login")
          .pseudo.pseudo-email
            input.login__email.login__item(type="email" placeholder="email" autofocus required)
          .pseudo.pseudo-pass
            input.login__pass.login__item(type="password" placeholder="password" required)
          button.login__check.login__item(type="submit")
            span GO
