$companyColor: #8700d2
$fontLato: 'Lato', sans-serif

.container
    max-width: 1174px
    margin: 0 auto
    &-wrap
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
    &-coll
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: center
    &-footer
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: center

.header
    background-color: $companyColor
    padding: 3% 0
    
.navigation
    background-color: transparent
    margin: 0
    padding: 0
    &__title
    font-family: $fontLato
    font-size: 36px
    color: #fff
    
.logo
    background-color: transparent
    margin: 0
    padding: 0
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex    
    justify-content: center
    align-items: center
    &__title-header
        font-size: 20px
        color: #fff
        text-transform: uppercase
    &__img
        display: block
        height: 28px
        width: 37px

.setting
    font-family: $fontLato
    font-size: 14px
    font-weight: bold
    text-transform: uppercase
    color: #d68dff
    font-family: $fontLato

main
    min-height: 500px
    
.main__tittle
    display: block
    margin: 0
    padding: 0
    font-family: $fontLato
    font-size: 36px
    
footer
    background-color: #ededed
    padding: 3% 0
    
.copyright
    font-family: $fontLato
    font-size: 12px
    font-weight: bold
    color: #c4c6c8
    margin: 1% 0 0