+r($desktop)
  .head
    &__links
      width: 40%
  .portfolio
    &__row
      flex-wrap: wrap
    &__item
      width: 50%
  .directions
    flex-wrap: wrap
    justify-content: center
    &__item
      width: 50%
  .footer
    &__content
      flex-wrap: wrap
      justify-content: center
    &__info
      width: 40%
      padding: 20px
      padding-left: 5%
    &__nav
      width: 40%
    &__news
      width: 30%
  .about
    &__promo
      &__item
        & span
          font-size: 13px
+r($tablet)
  .header
    &__nav
      width: 60%
  .head
    &__links
      width: 60%
  .about
    &__promo
      flex-wrap: wrap
      justify-content: flex-start
      &__item
        width: 51%
        & span
          font-size: 10px
  .portfolio
    &__row
      flex-wrap: wrap
    &__item
      width: 100%
  .footer
    &__content
      flex-wrap: wrap
      justify-content: center
    &__info
      width: 51%
      padding: 0
      padding-left: 0
      margin-bottom: 20px
    &__nav
      width: 51%
      margin-bottom: 20px
    &__news
      width: 51%
      margin-bottom: 20px
+r($mobile)
  .header
    &__nav
      width: 100%
  .head
    &__links
      width: 80%
  .about
    &__info
      flex-wrap: wrap
    &__title
      width: 100%
  .directions
    &__item
      padding: 30px
