.accinfo
    padding: 5% 0 0
    
.account
    justify-content: center
    align-items: flex-start
    
.avatar
    width: 32%
    &__img
        width: 100%
        margin-bottom: 5%
        & img
            display: block
            margin: 0 auto
            width: 87%
            background-size: cover
            border-radius: 3%
    &__add
        position: relative
        &-fake
            display: none
        &-file
            display: block;
            position: relative;
            background-color: #dfdfdf;
            font-family: "Lato", sans-serif;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            color: #989898;
            -webkit-border-radius: 60px;
            border-radius: 60px;
            padding: 12% 15% 8% 28%;
            text-align: center;
            margin: 0 0 5% 0
            &:before
                content: ''
                position: absolute
                top: 40%
                left: 20%
                transform: translate(-50%, 0)
                width: 18px
                height: 18px
                background-repeat: no-repeat
                background-image: url('../img/photo.png')
        
    
.info
    width: 43%

.descr
    width: 100%
    text-align: center
    &__item
        display: block
        border: none
        border-radius: 60px
        text-align: center
        font-family: $fontLatos
        font-size: 18px
        font-weight: bold
        color: #989898
        background-color: #dfdfdf
        width: 93%
        padding: 4.5% 2%
        text-transform: uppercase
        outline:none
        margin: 0 auto 6%
        &:focus
            outline: 0;
            outline-offset: 0;
    &__url
        margin-bottom: 0