.project
    &__tittle
        font-family: $fontLatos
        font-size: 24px
        text-transform: uppercase
        margin: 0 0 5% 0

.topics
    justify-content: center
    width: 100%
    &__item
        display: block
        box-sizing: border-box;
        text-decoration: none
        color: #fff
        padding: 8.6% 7% 2.6%
        background-color: $companyColor
        border-radius: 10%
        margin: 0 1% 2%
        font-family: $fontLatos
        font-size: 24px
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        text-align: center
        &:hover
            text-decoration: none
            color: #fff
        &-tittle
            display: block
            margin-bottom: 24%
    &__content
        margin: 0 auto
        text-align: center
        &-item
            display: block
            font-family: $fontLatos
            font-size: 18px
            font-weight: bold
            color: #ebc6ff
    &__new
        display: block
        box-sizing: border-box
        text-decoration: none
        color: $companyColor
        border-radius: 10%
        border: 3px solid  $companyColor
        padding: 13.5% 5.7% 6%
        text-transform: uppercase
        font-family: $fontLatos
        font-size: 24px
        font-weight: bold
        background-color: transparent
        box-shadow: none
        &:hover
            text-decoration: none
            color: $companyColor    