page_links
 {
  font-family: arial, verdana;
  font-size: 12px;
  border:1px #000000 solid;
  padding: 6px;
  margin: 3px;
  background-color: #cccccc;
  text-decoration: none;
 }
 #page_a_link
 {
  background-color: #cccccc;
  border: 1px solid #000000;
  color: #ff0000;
  font-family: arial,verdana;
  font-size: 14px;
  margin: 3px;
  padding: 3px 16px 1px 12px;
  text-decoration: none;
 }

